<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Vehicle Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog-post.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/profile.css}" rel="stylesheet">
</head>

<body>


    <div th:replace="fragments/navbar :: navBar"></div>

    <!-- Page Content -->
    <div class="container">
        <div class="w-100 mb-2 mt-4"></div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div th:if="${veh}">
                    <div class="card-deck">
                        <div class="card shadow  my-3" style="max-width: 75rem;">
                            <img class="card-img-top" th:src="@{${'/images/models/'+veh.manufacturername+'.jpg'}}"
                                alt="Card image cap">
                            <form class="form" method="POST" th:action="@{/show_errors}">
                                <div class="card-header d-flex justify-content-between text-white bg-dark">
                                    <span class="pt-2 font-weight-bold"
                                        th:utext="${veh.manufacturername +' '+ veh.modelname}"></span>
                                    <button class="btn btn-danger btn-sm pt-2" type="submit" th:name="id"
                                        th:value="${veh.id}">Show
                                        Scanned Errors</button>
                                </div>
                            </form>
                            <div class="card-body">
                                <div class="card-title mb-1 mt-1">
                                    <h6 class="mb-1 lead">Fuel</h6>
                                </div>
                                <p class="mb-1"><span th:utext="${veh.engineType}"></span></p>
                                <hr>
                                <div class="card-title mb-1 mt-1">
                                    <h6 class="mb-1 lead">Year</h6>
                                </div>
                                <p class="mb-1"><span th:utext="${veh.year}"></span></p>
                                <hr>
                                <div class="card-title mb-1 mt-1">
                                    <h6 class="mb-1 lead">Power Output</h6>
                                </div>
                                <p class="mb-1"><span th:utext="${veh.power}"></span></p>
                                <hr>
                                <div class="card-title mb-1 mt-1">
                                    <h6 class="mb-1 lead">Gearbox</h6>
                                </div>
                                <p class="mb-1"><span th:utext="${veh.gearbox}"></span></p>
                                <hr>
                                <div>
                                    <div class="card-title mb-1 mt-1">
                                        <h6 class="mb-1 lead">VIN</h6>
                                    </div>
                                    <p class="mb-1"><span th:utext="${veh.vin}"></span></p>
                                    <p th:if="${veh.vin.isEmpty()}" class="mb-1">Not specified</span></p>
                                </div>
                                <hr>
                                <div>
                                    <div class="card-title mb-1 mt-1">
                                        <h6 class="mb-1 lead">Compression Ratio</h6>
                                    </div>
                                    <p class="mb-1"><span th:utext="${veh.compressionRatio}"></span></p>
                                    <p th:if="${veh.compressionRatio.isEmpty()}" class="mb-1">Not
                                        specified</span></p>
                                </div>
                                <hr>
                                <div>
                                    <div class="card-title mb-1 mt-1">
                                        <h6 class="mb-1 lead">Number of Cylinders</h6>
                                    </div>
                                    <p class="mb-1"><span th:utext="${veh.cylinders}"></span></p>
                                    <p th:if="${veh.cylinders.isEmpty()}" class="mb-1">Not specified</span>
                                    </p>
                                </div>
                                <hr>
                                <div>
                                    <div class="card-title mb-1 mt-1">
                                        <h6 class="mb-1 lead">Engine Oil Grade</h6>
                                    </div>
                                    <p class="mb-1"><span th:utext="${veh.engineOilGrade}"></span></p>
                                    <p th:if="${veh.engineOilGrade.isEmpty()}" class="mb-1">Not
                                        specified</span></p>
                                </div>
                                <hr>
                                <div>
                                    <div class="card-title mb-1 mt-1">
                                        <h6 class="mb-1 lead">Engine Capacity</h6>
                                    </div>
                                    <p class="mb-1"><span th:utext="${veh.engineCapacity}"></span></p>
                                    <p th:if="${veh.engineCapacity.isEmpty()}" class="mb-1">Not
                                        specified</span></p>
                                </div>
                                <hr>
                                <div>
                                    <div class="card-title mb-1 mt-1">
                                        <h6 class="mb-1 lead">Engine Code</h6>
                                    </div>
                                    <p class="mb-1"><span th:utext="${veh.engineCode}"></span></p>
                                    <p th:if="${veh.engineCode.isEmpty()}" class="mb-1">Not
                                        specified</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>


    <div class="w-100 mb-6 mt-2"></div>

    <!-- /.container -->
    <!--
    <div th:replace="fragments/footer.html :: footerFragment"></div>
-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>


</body>

</html>