.card-signin .card-img-left {
  width: 45%;
  max-width:45%;
  max-height:100%;
  /* Link to your background image using in the property below! */
  background: scroll center url(../images/registration.jpg);
  background-size: cover;
}