.card-signin .card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url(../images/register_vehicle.jpg);
  background-size: cover;
}