
.card {
  margin-bottom: 2rem;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card .card-body {
  padding: 2rem;
}

.card .card-text {
  font-weight: 400;
}

footer {
  bottom: 0;
}