
body {
  background: #001e3f;
  background: linear-gradient(to right, rgb(0, 30, 68), rgb(0, 54, 90));
}

.card-signin {
  
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}



.card-signin .card-body {
  padding: 2rem;
}



.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}

